@charset "utf-8";
/* CSS Document */

/* MainMenu */
.MainMenu{
    background-color: #1E1E1E;  /* 1 - Aplicar color de fondo al modulo*/
	text-align: center;  	    /*  3 - Alinea el texto al centro*/
	height:60px;         		/*  6 - Asigna un alto al modulo en porcentajes */
	position: fixed;     		/*  8 - Permite que el modulo siempre este visible en el viewport la pantalla del dispositivo movil  o pc */
	left: 0;             		/*  9 - Con la siguiente coordenada posicionamos el modulo a lado izquierdo*/
    right: 0;            		/*  10 - Con la siguiente coordenada posicionamos el modulo a lado derecho*/
    top: 0;              		/*  11 - Con la siguiente coordenada posicionamos el modulo a la parte superior*/ 
}

.MainMenu-list{
	margin:0;           /* 13 - Se elimina el margen que estaba provocando que las opciones cayeran */
	padding: 0;         /* 14 - Eliminamos el espacio interior de lado izquierdo*/ 
    
}

.MainMenu-item{
	display: inline-block;  /* 2 - Posicionamos las opciones del menu horizontalmente*/
}

.MainMenu-link{
	color: #00DBFF;         /* 4 - Asignamos color turquesa a los items del menu*/
	text-decoration: none;  /* 5 - Se quita el subrayado del hipervinculo*/
	line-height: 60px;      /* 7 - Se establece la altura a la línea que forma el contenido de texto del menu. Esto provoca que se alinea verticalmente */
	margin-right: 15px;    /*  12 - Agregamos margen a la derecha de cada opcion del menu principal*/ 
}

